Builds/

#################################################################
### Unity generated stuff #######################################
#################################################################
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Assets/AssetStoreTools*
# Crash reports
sysinfo.txt
#################################################################
### AssetGraph and generated AssetBundles #######################
#################################################################
Assets/UnityEngine.AssetGraph/Cache/*
Assets/UnityEngine.AssetGraph/Cache.meta
Assets/StreamingAssets/AssetBundles/*
Assets/StreamingAssets/AssetBundles.meta
#################################################################
### Visual studio stuff #########################################
#################################################################
.vs/
*.suo
*.suo.meta
*.user
*.user.meta
*.userprefs
*.userprefs.meta
*.tmp
*.tmp.meta
*.csproj
*.sln